@import '~material-design-icons/iconfont/material-icons.css';

nav{
  background-color: #4a148c;
}

/* label color */
.input-field label{
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4a148c !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid  #4a148c !important;
  box-shadow: 0 1px 0 0  #4a148c !important;
}

/* label focus color */
.input-field input[type=number]:focus + label {
  color: #4a148c !important;
}
/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid  #4a148c !important;
  box-shadow: 0 1px 0 0  #4a148c !important;
}

.input-field .prefix.active {
  color: #4a148c;
}
